<div class="container mt-3">
    <form action="/contact" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">nama</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required name="nama">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">no hp</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" required name="nohp">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Simpan</button>
    </form>
</div>